
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --bg-color: #fff;

    --margin-small: 1rem;
    --margin-medium: 2.5rem;
    --margin-large: 3rem;
    --margin-xlarge: 3.5rem;
    
  }

  
  html {
      box-sizing: inherit;
      font-size: 62.5%;
  }
  
  body {
    background-color: red;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  .header{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
    h3{
        font-family: 'Sacramento', cursive;
        font-size: 5rem;
        font-weight: 400;
        
        
       margin: 1.5rem auto;
        color: #fff;
        text-shadow: 0 1rem 1rem rgba(0,0,0,.4);
        position:relative;
        left: 7rem;
    }

    a{
        text-decoration: none;
        color: inherit;
        text-shadow: 0 .3rem .3rem rgba(0,0,0,.4);
    }

    a:hover{
        text-decoration: underline;
    }

    .madeBy{
        flex-wrap: wrap;
        color: #fff;
        margin-right: 3rem;
        margin-top: -5rem;
    }

    span{
        color: green;
    }

    .etcher{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      
        padding: 5rem;
        margin-top: -5rem;
     
        
    }

    .screenHolder{
        outline: 3px solid black;
        
        outline-offset: 1rem;
        margin-bottom: 2.5rem;
        
        
        
    }

    .controls{
     width:100rem;}

    .btns{
        display: flex;
       
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding: 1.5rem;
        height: 5rem;
        ;
        
    }

    button{
        display: inline-block;
        padding: 2rem 1.4rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-left: 1rem;
        background-color: #fff;
        font-family: 'Train One', cursive;
        cursor: pointer;


        
    }

    button:nth-last-child(3){
        margin-right: 2rem;
    }

    button:hover{
        transform: translateY(-2px);
        box-shadow: 0 .5rem .5rem rgba(0,0,0,3);
    }

    button:active{
        transform: translateY(2px);
        box-shadow: none;
    }

    .colorPrompter{
        display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
      font-size: 1.5rem;
      color: #fff;

    }


    .sliderValue{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
       
        
    }

    #slider{
        -webkit-appearance: none;
        background: #ddffbc;
        outline: none;
        border-radius: 50px;
        box-shadow: .2rem .2rem;
    }

    #slider::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 2.5rem;
        height: 2.5rem;
        background-color: lightsalmon;
        border-radius: 50%;
        cursor: pointer;
    }

    #slider::-moz-range-thumb{
        width: 25px; 
        height: 25px; 
        background: white; 
        border-radius: 50px;
        
    }





    #color{
        box-shadow: .3rem .3rem;
        cursor: pointer;
        margin-bottom: 1rem;
        background-color: aliceblue;
        
    }

    #color:hover{
        transform: scale(1.05);
    }

    #color:active{
        transform: scale(1);
    }

    #slider{
        margin-left: 1.5rem;
    }

    .value{

    color: #fff;
    margin-top: .8rem;
    
    }

#rgb{
    color: linear-gradient(pink,green);
}

.screen{
    
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr );
    grid-template-rows: repeat(16, 2fr );
    border: .5rem solid #ddffbc;
    border-radius: .5rem;
    height: 50rem;
    width: 50rem;
    background-color: #ddffbc;
    
}

.cell{
    background-color: #ddffbc;
    border: 1px solid black;
}
